
<div class="container-fluid p-5 mt-2">
<div class="container mb-2">
  <a routerLink="/user/add-user" class="text-decoration-none">
    <button class="btn btn-dark text-white text-center">
      Add New Student
    </button>
  </a>
  </div>
  <div class="container">
    <h2 class="text-white bg-dark text-center">Users List</h2>
  </div>
  <div class="container">
    <table class="table table-light table-hover-light">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let StudentItem of StudentArray; let indexOFtable=index;">
          <td>{{indexOFtable+1}}</td>
          <td>{{StudentItem.name}}</td>
          <td>{{StudentItem.email}}</td>
          <td>{{StudentItem.phone}}</td>
          <td>
            <a routerLink="/user/update-user" class="text-decoration-none mx-1">
              <button class="btn btn-primary">
                Update
              </button>
            </a>
            <button class="btn btn-danger" (click)="deleteStudent(StudentItem.id,indexOFtable)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
